<div class="container">
  <div class="result">
      <textarea autosize cols="48"  [minRows]="2" [maxRows]="5" id="output">{{outputExpression}}</textarea>
  </div>
  <label for="result"></label>
  <input id="result" name="result" class="form-control" type="text" [value]="result" readonly>
  <table class="table table-bordered" (click)="init($event)">
    <tbody>
    <tr>
      <td [style.visibility]="'hidden'"></td>
      <td [style.visibility]="'hidden'"></td>
      <td>CE</td>
      <td><-</td>
    </tr>
    <tr>
      <td [style.visibility]="'hidden'"></td>
      <td [style.visibility]="'hidden'"></td>
      <td>x^2</td>
      <td>/</td>
    </tr>
    <tr>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>*</td>
    </tr>
    <tr>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>-</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>+</td>
    </tr>
    <tr>
      <td>+/-</td>
      <td>0</td>
      <td>.</td>
      <td>=</td>
    </tr>
    </tbody>
  </table>
</div>
